<ion-header>
  <ion-toolbar>
    <ion-title>Guides</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
            *ngFor="let guide of guides"
            [routerLink]="'/steps/' + guide.guides_id.id + '/' + guide.step_number"
            routerDirection="forward">
      <ion-icon name="build" slot="start"></ion-icon>
      {{guide.guides_id.name}}
      <div class="item-note" slot="end">
        {{guide.guides_id.name}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
