<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-list *ngIf="courses">
    <ion-card *ngFor="let course of courses" routerDirection="forward">
      <ion-img [src]="course.photo"></ion-img>
      <ion-card-header>
        <ion-card-title>
          {{course.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{course.description}}
        <ion-row>

        </ion-row>
      </ion-card-content>
      <ion-item>
        <ion-button fill="outline" slot="end">More info</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
  <div *ngIf="!courses">
    <div class="ion-padding custom-skeleton">
      <ion-thumbnail style="width: 100%; height: 150px;">
        <ion-skeleton-text animated style="width: 100%; line-height: 150px;"></ion-skeleton-text>
      </ion-thumbnail>
      <div>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    </div>

  </div>
</ion-content>
